body {
  font-family: "Inter", sans-serif;
  padding: 1rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

div .logos {
  display: flex;
  justify-content: space-evenly;
}

header img {
  width: 100px;
  height: auto;
}

main {
  display: flex;
}
main > *:nth-child(1) {
  flex: 1 1 30%;
  margin-top: 219px;
}
main > *:nth-child(2) {
  flex: 1 1 65%;
}

h1.my-name {
  text-transform: uppercase;
  letter-spacing: 5px;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: #ba5624;
}

.mainpage section {
  border-bottom: 2px solid rgb(106, 97, 97);
}

.technical-details li,
.contact li,
.projects li {
  list-style: none;
}

.technical-details ul,
.contact ul,
.projects ul {
  padding-left: 0;
}
